[submodule "data"]
	path = data
	url = git@github.com:materok/data.git
[submodule "python3/telegramBot"]
	path = python3/telegramBot
	url = git@github.com:materok/telegramBot.git
[submodule "bewerbungen"]
	path = bewerbungen
	url = git@github.com:materok/bewerbungen.git
